body {
    background-color: black;
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

h1, h2 {
    color: white;
}

a:hover {
    background: linear-gradient(135deg, #1c5980, #54a1db);
    transform: translateY(-0.3rem);
}

a {
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(135deg, #19bed4, #0c09c5);
    border-radius: 0.5rem;
    padding: 0.625rem 0.9375rem; /* 10px 15px */
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.2); /* 0 4px 15px */
}

.imgBackground {
    background-image: url(imgGif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 61.8rem; /* 990px */
}

.title {
    font-family: "Archivo Black", sans-serif;
    color: white;
    padding-left: 4.1875rem; /* 67px */
    font-size: 5rem; /* 80px */
    margin-top: 11.5625rem; /* 185px */
    margin-bottom: -1.875rem; /* -30px */
    text-transform: uppercase;
    text-shadow: 0.5rem 0.0625rem 0.625rem black; /* 8px 1px 10px */
}

.subtitle {
    font-family: "Archivo Black", sans-serif;
    color: white;
    padding-left: 4.1875rem; /* 67px */
    font-size: 2.375rem; /* 38px */
    text-shadow: 0.5rem 0.0625rem 0.625rem black; /* 8px 1px 10px */
}

.informations {
    font-family: "Bebas Neue", sans-serif;
    padding-left: 4.1875rem; /* 67px */
    display: flex;
}

.buttons {
    font-family: "Anton", sans-serif;
    padding-left: 0;
    height: 1.4375rem; /* 23px */
    margin: auto;
    margin-left: 0.625rem; /* 10px */
    word-spacing: 1.5625rem; /* 25px */
}

.main-inf {
    font-family: "Bebas Neue", sans-serif;
    word-spacing: 0.3125rem; /* 5px */
    letter-spacing: 0.0625rem; /* 1px */
    padding-top: 12.5rem; /* 200px */
    padding-left: 4.1875rem; /* 67px */
    width: 53.75rem; /* 860px */
    text-align: justify;
    margin-top: -14.0625rem; /* -225px */
    text-shadow: 0.5rem 0.0625rem 0.625rem black; /* 8px 1px 10px */
}

.bottom-buttons {
    font-family: "Anton", sans-serif;
    color: white;
    margin-top: 2rem; /* 32px */
    padding-left: 4.1875rem; /* 67px */
    word-spacing: 0.75rem; /* 12px */
    border: none;
}

.right-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 20.3125rem); /* 325px */
    width: 24.6875rem; /* 395px */
    position: fixed; /* Mantém a posição fixa */
    top: 10.5rem; /* 168px */
    right: 12.5rem; /* 200px */
    padding: 1.25rem; /* 20px */
    z-index: 1000;
}

.right-images div {
    width: 100%;
    height: 9.375rem; /* 150px */
    border-radius: 0.625rem; /* 10px */
    position: relative;
    overflow: hidden; /* Para manter a imagem dentro do contêiner */
}

.right-images div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.right-images div .image-text {
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem; /* 8px */
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.4375rem; /* 39px */
    text-align: center;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.7);
}

.right-images div:hover img {
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.right-images div:hover .image-text {
    text-shadow: 0.125rem 0.125rem 0.375rem rgba(0, 0, 0, 0.8);
    font-size: 2.4375rem; /* 39px */
}

@media (max-width: 62.5rem) { /* 1000px */
    .right-images {
        right: 1rem; /* Ajusta a margem direita */
        width: 80%; /* Ajusta a largura para 80% */
        top: 6rem; /* Ajusta a posição para cima */
        margin-left: auto; /* Garante centralização horizontal */
        margin-right: auto; /* Garante centralização horizontal */
    }

    .right-images div {
        margin-bottom: 1rem; /* Espaçamento entre as imagens */
        margin-left: 0; /* Reseta a margem esquerda se necessário */
    }
}

@media (max-width: 37.5rem) { /* 600px */
    .right-images {
        right: 1rem; /* Alinha mais à direita */
        width: 90%; /* Mantém a largura em 90% */
        top: 4rem; /* Ajusta a posição para cima */
    }

    .right-images div {
        height: 5rem; /* Altura das imagens */
        margin-bottom: 0.5rem; /* Espaçamento entre as imagens reduzido */
        margin-left: 0; /* Reseta a margem esquerda se necessário */
    }

    .title {
        font-size: 3rem; /* Ajusta o tamanho do título */
        margin-top: 5rem; /* Margem superior ajustada */
        margin-bottom: 1rem; /* Margem inferior ajustada */
        padding-left: 1rem; /* Adiciona preenchimento à esquerda */
    }

    .subtitle {
        font-size: 1.5rem; /* Ajusta o tamanho do subtítulo */
        margin-bottom: 2rem; /* Margem inferior ajustada */
        padding-left: 1rem; /* Adiciona preenchimento à esquerda */
    }

    .main-inf {
        padding-left: 1rem; /* Ajusta o preenchimento à esquerda */
        padding-top: 6rem; /* Ajusta o preenchimento superior */
        margin-top: 0; /* Remove a margem superior negativa */
    }
}

